$primary: #ff5401;

$font-light: white;
$font-grey:  #776;
$font-dark: #000;

$border-light: #fff;
$border-grey-light: #a7a7a7;
$border-grey: #454545;
 
$background-light:#fff;
$background-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #353535;
$background-dark: #151515;
$background-dark-obsolute: #000;

$success: #69af00; 